fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
sqlalchemy==2.0.34
pydantic==2.9.2
httpx==0.28.1
opencv-python-headless==4.10.0.84
mediapipe==0.10.14
numpy==2.1.2
pandas==2.2.3
scikit-learn==1.5.2
python-dotenv==1.0.1
